In [51]:
#import Libraries

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [52]:
# dataset
Data = pd.read_csv('/content/sample_data/spam.csv')

In [53]:
Data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [54]:
Data=Data.replace({'Label'   :  {'spam':1,'ham':0}})

In [55]:
Data.head()

   Label                                          EmailText
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [56]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   int64
 1   EmailText  5572 non-null   object
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [57]:
#Check Null Values

Data.isnull().sum()

Label        0
EmailText    0
dtype: int64

In [58]:
Data.describe()

             Label
count  5572.000000
mean      0.134063
std       0.340751
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [59]:
# split the dataset

X =  Data['EmailText'].values
y =  Data['Label'].values

In [60]:
Data['Label'].value_counts()

0    4825
1     747
Name: Label, dtype: int64

In [61]:
CountVectorizer = CountVectorizer() 
X_new = CountVectorizer.fit_transform(X)

In [62]:
#this data set is imbalnced ,so we can use SMOTE to balced the data set
from imblearn.over_sampling import SMOTE
smote=SMOTE()

In [63]:
X_smote,y_smote=smote.fit_resample(X_new,y)

In [65]:
# splitting dataset in to tranning and testing

X_train, X_test, y_train, y_test = train_test_split( X_smote, y_smote, test_size=0.2, random_state=0)

In [72]:
#Apply Support Vector Algorithm

from sklearn.svm import SVC
Model = SVC(kernel = 'rbf')
Model.fit(X_train, y_train)

SVC()

In [73]:
#Get Accuracy

print(Model.score(X_test,y_test))

0.9533678756476683

In [74]:
input_mail = [
"Hey, you have won a car !!!!. Conrgratzz",
"Dear applicant, Your CV has been recieved. Best regards",
"You have received $1000000 to your account",
"Join with our whatsapp group",
"Kindly check the previous email. Kind Regards"
]


Mails = CountVectorizer.transform(input_mail)

# making prediction

prediction = Model.predict(Mails)
print(prediction)

[1 0 1 1 0]