In [19]:
#import Libraries

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
# dataset
Data = pd.read_csv('/content/sample_data/spam.csv')

In [9]:
Data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Label      5572 non-null   object
 1   EmailText  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [35]:
#Check Null Values

Data.isnull().sum()

Label        0
EmailText    0
dtype: int64

In [29]:
Data.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [17]:
# split the dataset

X =  Data['EmailText'].values
y =  Data['Label'].values

In [33]:
print(X)

['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'
 'Ok lar... Joking wif u oni...'
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"
 ... 'Pity, * was in mood for that. So...any other suggestions?'
 "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"
 'Rofl. Its true to its name']

In [20]:
# splitting dataset in to tranning and testing

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

In [21]:
#using countVectorizer convert text into integer

CountVectorizer = CountVectorizer() 
X_train = CountVectorizer.fit_transform(X_train)
X_test = CountVectorizer.transform(X_test)

In [31]:
print(X_train)

  (0, 906)	1
  (0, 2465)	1
  (0, 3203)	1
  (0, 3422)	2
  (0, 3689)	2
  (0, 3827)	1
  (0, 4711)	2
  (0, 6732)	1
  (0, 6881)	1
  (1, 898)	1
  (1, 2605)	1
  (1, 2775)	1
  (1, 3123)	1
  (1, 3582)	2
  (1, 3839)	1
  (1, 4429)	1
  (1, 4761)	1
  (1, 6698)	1
  (1, 6814)	1
  (1, 7269)	1
  (2, 781)	1
  (2, 2973)	1
  (2, 3210)	1
  (2, 3378)	1
  (2, 3689)	1
  :	:
  (4454, 6860)	1
  (4454, 7235)	1
  (4454, 7261)	1
  (4454, 7268)	1
  (4454, 7359)	1
  (4455, 2277)	1
  (4455, 3302)	1
  (4455, 4045)	1
  (4455, 4120)	1
  (4455, 4187)	1
  (4455, 5713)	1
  (4455, 6335)	1
  (4455, 7552)	1
  (4455, 7579)	1
  (4456, 814)	1
  (4456, 961)	1
  (4456, 2141)	1
  (4456, 3324)	1
  (4456, 3466)	1
  (4456, 6436)	1
  (4456, 6581)	1
  (4456, 6639)	1
  (4456, 6814)	2
  (4456, 7457)	2
  (4456, 7579)	3

In [30]:
print(X_test)

  (0, 842)	1
  (0, 1880)	1
  (0, 3815)	1
  (0, 3962)	1
  (0, 5152)	1
  (0, 6019)	1
  (0, 6814)	1
  (0, 6847)	1
  (0, 7063)	1
  (1, 2733)	1
  (1, 4870)	1
  (1, 6696)	1
  (1, 7261)	1
  (2, 890)	1
  (2, 924)	1
  (2, 983)	1
  (2, 1010)	1
  (2, 1956)	1
  (2, 1996)	1
  (2, 2350)	2
  (2, 2675)	1
  (2, 2775)	1
  (2, 2894)	1
  (2, 3242)	1
  (2, 3357)	1
  :	:
  (1114, 402)	1
  (1114, 890)	1
  (1114, 924)	1
  (1114, 1540)	1
  (1114, 1897)	1
  (1114, 3068)	1
  (1114, 3072)	1
  (1114, 3302)	1
  (1114, 3689)	2
  (1114, 3700)	1
  (1114, 3927)	1
  (1114, 4329)	1
  (1114, 4916)	1
  (1114, 5992)	1
  (1114, 6432)	1
  (1114, 6576)	2
  (1114, 6690)	1
  (1114, 6696)	2
  (1114, 6814)	3
  (1114, 7284)	1
  (1114, 7309)	1
  (1114, 7355)	1
  (1114, 7365)	2
  (1114, 7579)	1
  (1114, 7584)	1

In [22]:
#Apply Support Vector Algorithm

from sklearn.svm import SVC
Classifier = SVC(kernel = 'rbf', random_state = 0)
Classifier.fit(X_train, y_train)

SVC(random_state=0)

In [24]:
#Get Accuracy

print(Classifier.score(X_test,y_test))

0.9766816143497757